.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  background-color: #f5f5f5;
}

.logo img {
  height: 40px;
}

.links a {
  margin-right: 10px;
  text-decoration: none;
  color: #333;
}

.icons a {
  margin-right: 10px;
  color: #333;
}



.auth-buttons button {
 
  padding: 5px 10px;
  background-color: #333;
  color: #fff;
  border: none;
  cursor: pointer;
  border-radius: 10px;
  padding: 10px;
  margin-left: 20px;
}

/* Responsive Styles */
@media screen and (max-width: 768px) {
  .navbar {
    flex-direction: column;
    align-items: flex-start;
  }

  .links {
    margin-top: 10px;
  }

  .links a,
  .icons a {
    margin-right: 0;
    margin-bottom: 10px;
    display: block;
  }

  .auth-buttons {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-top: 10px;
  }

  .auth-buttons button {
    margin-right: 0;
    margin-bottom: 10px;
  }
}
